.nav-menu{
  padding: 15px 0px;
}

.logo {
  padding: 10px;
  background-color: #129575; /* Цвет фона блока */
  border-radius: 50px;
  box-shadow: 0 0 20px #129575;
}

.logo-img{
  height: 60px;
}

.nav-links{
  justify-content: center;
}

.nav-link{
  padding: 0 30px;
  font-weight: 500;
  font-size: 18px;
  color: #000;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
